
obj/Debug/net6.0/IronHelm.pdb
bin/Debug/net6.0/IronHelm.pdb
bin/Debug/net6.0/IronHelm.dll
obj/Debug/net6.0/IronHelm.dll
obj/Debug/net6.0/IronHelm.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/IronHelm.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ref/IronHelm.dll
obj/Debug/net6.0/refint/IronHelm.dll
bin/Debug/net6.0/IronHelm.deps.json
IronHelm/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
IronHelm/obj/Debug/net6.0/IronHelm.AssemblyInfo.cs
IronHelm/obj/Debug/net6.0/IronHelm.AssemblyInfoInputs.cache
IronHelm/obj/Debug/net6.0/IronHelm.assets.cache
IronHelm/obj/Debug/net6.0/IronHelm.csproj.AssemblyReference.cache
IronHelm/obj/Debug/net6.0/IronHelm.csproj.BuildWithSkipAnalyzers
IronHelm/obj/Debug/net6.0/IronHelm.GeneratedMSBuildEditorConfig.editorconfig
IronHelm/obj/Debug/net6.0/IronHelm.GlobalUsings.g.cs
IronHelm/obj/IronHelm.csproj.nuget.dgspec.json
IronHelm/obj/IronHelm.csproj.nuget.g.props
IronHelm/obj/IronHelm.csproj.nuget.g.targets
IronHelm/obj/project.assets.json
IronHelm/obj/project.nuget.cache
IronHelmTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
IronHelmTests/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
IronHelmTests/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
IronHelmTests/bin/Debug/net6.0/xunit.execution.dotnet.dll
IronHelmTests/bin/Debug/net6.0/xunit.core.dll
IronHelmTests/bin/Debug/net6.0/xunit.assert.dll
IronHelmTests/bin/Debug/net6.0/xunit.abstractions.dll
IronHelmTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/testhost.exe
IronHelmTests/bin/Debug/net6.0/testhost.dll
IronHelmTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/NuGet.Frameworks.dll
IronHelmTests/bin/Debug/net6.0/Newtonsoft.Json.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
IronHelmTests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
IronHelmTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/IronHelmTests.runtimeconfig.json
IronHelmTests/bin/Debug/net6.0/IronHelmTests.pdb
IronHelmTests/bin/Debug/net6.0/IronHelmTests.dll
IronHelmTests/bin/Debug/net6.0/IronHelmTests.deps.json
IronHelmTests/bin/Debug/net6.0/IronHelm.pdb
IronHelmTests/bin/Debug/net6.0/IronHelm.dll
IronHelmTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IronHelmTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IronHelmTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IronHelmTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IronHelmTests/bin/Debug/net6.0/CoverletSourceRootsMapping
.vs/ProjectEvaluation/ironhelm.projects.v6.1
.vs/ProjectEvaluation/ironhelm.metadata.v6.1
.vs/IronHelm/v17/TestStore/0/testlog.manifest
.vs/IronHelm/v17/TestStore/0/002.testlog
.vs/IronHelm/v17/.suo
.vs/IronHelm/v17/.futdcache.v2
.vs/IronHelm/FileContentIndex/read.lock
.vs/IronHelm/FileContentIndex/59cbcb20-6aa4-4ca3-86a3-1a5e5f1bc6e0.vsidx
.vs/IronHelm/FileContentIndex/2f4f343b-d2b7-4797-b137-7739021d9dc3.vsidx
.vs/IronHelm/FileContentIndex/2dc828f7-51d4-4541-a1df-06d88a2bf0ec.vsidx
.vs/IronHelm/FileContentIndex/191c0a77-654b-4351-8d77-086a4321b76b.vsidx
.vs/IronHelm/DesignTimeBuild/.dtbcache.v2
